@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans&display=swap');
/*RESET CSS*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* SHORCUT */
.d_flex{
  display:flex;
}
._alitcenter{
  align-items: center;
}
._jus_con_cen{
  justify-content: center;
}
._jus_con_sp_evenly{
  justify-content: space-evenly;
}
._trans{
  transform: scalex(-1);
}
._c{
  margin: 0px 15px;
  color: #737f8a;
  background: #242930;
  padding: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
._c:hover{
  border-bottom: 2px solid #57cbcc;
}
._c:hover .icon{
  padding-top: 40px;
  padding-bottom: 60px;
}
._hcolor{
  color: #afbac4;
  font-size: 24px;
  margin: 20px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
}
._psize{
  font-size: 14px;
  margin: 0px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
}
._text_ali_cen{
  text-align: center;
}

/* SHORTCUT */


/*HEADER*/

.header{
    display: initial;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/hero-area.jpg);
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #00000099;
  color: #ffffff;
}

.header-main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main .center h2 {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  margin: 25px 0;
}

.header-main .center p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.header-main .center .explore {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 14px 40px;
  color: #ffffff;
  margin-top: 40px;
  transition: all 0.4s;
}

.header-main .center .explore:hover {
  background-color: #57cbcc;
}

.header-main .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #57cbcc;
}

/*NAVIGATION*/

.nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1d2024;
  position: sticky;
  top: 0;
  z-index:99999;
}
.nav .nav-menu a{
  font-size: 16px;
  color: #737f8a;
  font-family: 'Anaheim', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s;
}
.nav .nav-menu a:hover{
  color:#57cbcc;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin-right: 20px;
}

/* SECTION */ /* SECTION */
.about{
  /* height: 100vh; */
  padding: 100px 0px;
  background-color: #353b43;
}
/* row1 */

.container.first{
  text-align: center;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container .row .col .about-us{
  padding-bottom: 60px;
}
.container .row .col .about-us .border{
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    width: 30%;
    margin: 15px auto;
    position: relative;
}
.container .row .col .about-us .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  top: -4px;
}
.container .row .col .about-us h2{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-family: 'Quattrocento Sans', sans-serif;
}
.container .row .col .about-us h2 span{
  color: #57cbcc;
  margin-left: 10px;
}

/* row2 */
._pad{
  padding: 50px 0px;
  transition: all 0.3s;
}

/* SECTION WEREDIGITAL */
.weredigital{
  background-color: #242930;
  color: #737f8a;
}
.weredigital .col{
  width: 50%;
}
.weredigital .row .col .img img{
  max-width: 100%;
}
.weredigital .row .col .content{
  padding: 35px 55px;
}
.weredigital .row .col .content h2,h4,p{
  font-family: "Quattrocento Sans", sans-serif;
}
.weredigital .row .col .content h2{
  color: #afbac4;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.weredigital .row .col .content p{
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1.4;
}
.weredigital .row .col .content h4{
  color: #afbac4;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.1;
}
.weredigital .row .col .content i{
  padding-right: 15px;
  color:#57cbcc;
}
.contentleftbottom,.contentrightbottom{
  margin-top: 30px;
}
.four{
  height: 100vh;
}

/* SECTION GREATDESIGN */
.greatdesign{
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0px;
}
.greatdesign .row .col .greatdesigncontent{
  text-align:center;
}
.greatdesign .row .col .greatdesigncontent h2{
  margin: 20px 0px 10px;
  font-size: 26px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  color: #444;
}
.greatdesign .row .col .greatdesigncontent p{
  /* margin: 0px 0px 10px; */
  font-size: 14px;
  font-family: "Quattrocento Sans", sans-serif;
  color: #666;
  width: 30%;
  margin: auto;
  line-height: 1.4;
}
.greatdesign .row .col .greatdesigncontent a {
    color: #fff;
    background-color: #57cbcc;
    padding: 10px 35px;
    margin-top: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    font-family: 'Anaheim', sans-serif;
    letter-spacing: 1px;
}


/* SECTION OUR SERVICES */

/* row1 */
.ourservices {
  padding: 100px 0px;
  background-color: #353b43;
}
.ourservices .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.ourservices .ourserviceshead{
  text-align: center;
  margin-bottom: 60px;
}
.ourservices .ourserviceshead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ourservices .ourserviceshead h2 span{
  color: #57cbcc;
  padding-left: 10px;
}
.ourservices .ourserviceshead .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 0;
  position: relative;
}
.ourservices .ourserviceshead .border::before{
  content: " ";
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  margin-top: -4px;
}

/* row2 */
.ourservices .container .col{
  padding-right: 15px;
    padding-left: 15px;
}
.ourservices .container .col .insidecontent{
  padding: 60px 20px;
  margin-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}
.ourservices .container .col .insidecontent h3{
  text-align: center;
  color: #afbac4;
}
.ourservices .container .col .insidecontent .icon{
  text-align: center;
  color: #737f8a;
}
.ourservices .container .col .insidecontent .icon i{
  font-size: 50px;
}
.ourservices .container .col .insidecontent p{
color: #737f8a;
}
.ourservices .container .col .insidecontent .iconcontent{
  text-align: center;
}

/* SECTION OURSKILLS */

.ourskills{
  padding: 100px 0px;
  background: #292F36;
}
.ourskills .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
/* row1 */
.ourskills .container .ourskillshead{
  text-align: center;
}
.ourskills .container .ourskillshead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}
.ourskills .container .ourskillshead span{
  color: #57cbcc;
  margin-left: 10px;
}
.ourskills .container  .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto;
  position: relative;
  padding-bottom: 60px;
}
.ourskills .container .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: 140px;
  top: -4px;
  
}
/* row2 */
/* col1 */
.ourskills .container .row .col{
  width: 50%;
  padding: 0px 15px;
}
.ourskills .container .row.d_flex .col .diagram h2{
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #afbac4;
  font-size: 30px;
}
.ourskills .container .row.d_flex .col .diagram p{
  font-family: "Quattrocento Sans", sans-serif;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color:#737f8a;
}
 /* col2 */
 .ourskills .container .row.d_flex .col .skillprogress p{
  font-size: 18px;
  margin-bottom: 0;
  font-family: "Quattrocento Sans", sans-serif;
  color:#737f8a;
 }
 .ourskills .container .row.d_flex .col .skillprogress span{
  font-style: italic;
  font-size: 30px;
  color: rgba(187, 187, 187, 0.34);
  vertical-align: middle;
 }
 .ourskills .container .row.d_flex .col .skillprogress li{
   line-height: 1.4;
 }
.ourskills .container .row.d_flex .col img{
  max-width: 100%;
}
.ourskills .container .row.d_flex .col .progress{
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
}
.ourskills .container .row.d_flex .col .progress .busdev{
    height: 100%;
    width: 90%;
    background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .ana{
  height: 100%;
  width: 70%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .desi{
  height: 100%;
  width: 85%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .iosdev{
  height: 100%;
  width: 60%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .anddev{
  height: 100%;
  width: 95%;
  background-color: #57cbcc;
}

/* SECTION OUR WORKS */
/* row 1 */
.ourworks{
  padding: 100px 0px;
  background: #353b43;
}
.ourworks .container{
  max-width: 1150px;
  margin: 0px auto 0px;
}
.ourworks .container .ourworkshead{
  text-align: center;
  padding-bottom: 50px;
}
.ourworks .container .ourworkshead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}
.ourworks .container .ourworkshead span{
  color: #57cbcc;
  margin-left: 10px;
}
.ourworks .container  .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto;
  position: relative;
}
.ourworks .container .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  top: -4px;
}
/* row2 */
.ourworks .button{
  text-align: center;
  margin-bottom: 30px;
}
.ourworks .button .active{
    background-color: transparent;
    border: 1px solid #57cbcc;
    color: #57cbcc;
    font-size: 14px;
    padding: 6px 20px;
    font-weight: 700;
    cursor: pointer;
}
.ourworks .button .passive{
    background-color: transparent;
    border: 1px solid rgba(236, 239, 241, 0.07);
    color: #737f8a;
    font-size: 14px;
    padding: 6px 20px;
    font-weight: 700;
    cursor: pointer;
}
/* row3 */
.blacktag{
  background-image: url(../img/portfolio-1.jpg);
}
.blackbucket{
  background-image: url(../img/portfolio-2.jpg);
}
.clock{
  background-image: url(../img/portfolio-3.jpg);
}
.bottle{
  background-image: url(../img/portfolio-4.jpg)
}
.bag{
  background-image: url(../img/portfolio-5.jpg)
}
.whitetag{
  background-image: url(../img/portfolio-6.jpg)
}
.envilop{
  background-image: url(../img/portfolio-7.jpg);
}
.notepad{
  background-image: url(../img/portfolio-8.jpg);
}
.cell{
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  margin: 20px 15px;
  padding: 20px 20px;
}
.cell .inner{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 25px 70px;
  opacity:0;
  transition: all 0.3s ease-out;
}
.cell:hover .inner{
  opacity:1;
}
.cell .inner .icon{
  background-color: teal;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell .inner a{
  color: #555;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}
.cell .inner p{
  font-family: "Quattrocento Sans", sans-serif;
  margin: 0 0 10px;
  color: #737f8a;
  font-size: 12px;
  line-height: 1.4;
}

/* SECTION INDICATOR BOX 4 */
.indicatorbox4{
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0px;
}
.indicatorbox4 .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.indicatorbox4 .common{
  background-color: #292F36;
  width: 25%;
  margin-right: 30px;
  padding: 25px 0px;
}
.indicatorbox4 .common:last-child{
  margin-right: 0px;
}
.indicatorbox4 .common .inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.indicatorbox4 .common .inner i{
  margin-bottom: 10px;
  font-size: 30px;
  color: #737f8a;
}
.indicatorbox4 .common .inner span{
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    color: #737f8a;
}
.indicatorbox4 .common .inner h3{
    font-size: 18px;
    font-weight: 400;
    font-family: "Quattrocento Sans", sans-serif;
    color: #afbac4;
    margin: 0;
}


/* SECTION OUR TEAM */
.ourteam{
  padding: 100px 0px;
  background: #353b43;
}
.ourteam .container{
  max-width: 1200px;
  margin: 0px auto 0px;
  
}
.ourteam .ourteamhead{
  text-align: center;
}
.ourteam .ourteamhead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}
.ourteam .ourteamhead span{
  color: #57cbcc;
  margin-left: 10px;
}
.ourteam .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 10px;
  position: relative;
}
.ourteam .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: 140px;
  top: -4px;
}
/* row2 */
.ourteam .col{
  width: 25%;
  padding: 0px 15px;
  margin-top: 60px;
}
.ourteam .col .member{
background-color: #292F36;
}
.ourteam .col .member .profileimg {
  position: relative;
  overflow: hidden;
}
.ourteam .col .member .profileimg:hover img{
  transform: scale(1.2,1.2);
}
.ourteam .col .member .profileimg img{
  max-width: 100%;
  transition: all 0.4s;
}
.ourteam .cover{
  background-color: rgba(87, 203, 204, 0.7);
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  opacity: 0;
  transition: all 0.4s;
  
}
.ourteam .col .member .profileimg .cover ul li a{
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 35px;
  margin: 0px 5px;
}
.member.abul:hover .cover{
  transform: rotateY(0deg);
  cursor: pointer;
  opacity: 1;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
}
.member.frank:hover .cover{
  transform: rotateY(0deg);
  cursor: pointer;
  opacity: 1;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
}
.member.michael:hover .cover{
  transform: rotateY(0deg);
  cursor: pointer;
  opacity: 1;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
}
.member.mo:hover .cover{
  transform: rotateY(0deg);
  cursor: pointer;
  opacity: 1;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
}
.member .content{
  padding:15px;
}
.member .content h4{
  font-size: 18px;
  margin: 0 0 5px;
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #afbac4;
}
.member .content span{
  font-size: 12px;
  color: #737f8a;
  margin: 0px;
}
.member .content p{
  margin: 0 0 10px;
  color: #737f8a;
}

/* SECTION GREATEST PLAN */
.greatestplan h3,p,span{
  margin:0;
  padding:0;
}
.greatestplan{
  padding: 100px 0px;
  background: #353b43;
}
.greatestplan .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.greatestplan .planheader{
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}
.greatestplan .planheader h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
.greatestplan .planheader span{
  color: #57cbcc;
  margin-left: 10px;
}
.greatestplan .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 10px;
}
.greatestplan .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-top: -4px;
  margin-left: -25px;
}

/* row2 */
.greatestplan .col{
  width: 25%;
  padding:0px 15px;
}
.price{
  border: 1px solid rgba(236, 239, 241, 0.07);
  padding-bottom: 30px;
}
.price .pricehead{
  background-color: #292F36;
  padding: 30px 0 20px;
  text-align:center;
}
.price .pricehead h3{
  color: #57cbcc;
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 400;
}
.price .pricehead span{
  color: #57cbcc;
  font-size: 30px;
  font-weight: 700;
}
.price .pricehead p{
  font-size: 18px;
  font-weight: 400;
  color: #737f8a;
  margin: 0 0 10px;
}
.price .list{
  text-align: center;
  margin-bottom: 30px;
}
.price .list li{
  padding: 10px 0;
  color: #737f8a;
  font-size: 16px;
  font-family: "Anaheim", sans-serif;
}
.price .list li:nth-child(2n){
  background-color: #292F36;
}
.price .signup{
  text-align: center;
}
.price .signup a{
  color: #ffffff;
  border:1px solid #4e595f;;
  padding: 10px 30px;
  transition: all 0.4s;
  display: inline-block;
}
.price .signup a:hover{
  background-color: rgba(87, 203, 204, 0.7);
}

/* SECTION LATEST POST */
.latestpost h3,p,span{
  margin:0;
  padding:0;
}
.latestpost{
  padding: 100px 0px;
  background: #353b43;
}
.latestpost .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.latestpost .latesthead{
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}
.latestpost .latesthead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
.latestpost .latesthead span{
  color: #57cbcc;
  margin-left: 10px;
}
.latestpost .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 10px;
}
.latestpost .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-top: -4px;
  margin-left: -25px;
}

/* row2 */
.latestpost .col{
  width: 33.3333%;
  padding: 15px;
}
.latestpost .simpleimg{
  background-color: #292F36 ;
}
.latestpost .simpleimg img{
  max-width: 100%;
}
.latestpost .simpleimg .content{
  padding: 20px;
}
.latestpost .simpleimg .content a{
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
}
.latestpost .simpleimg .content p{
  color: #737f8a;
  line-height: 1.4;
  margin-top: 10px;
}
.latestpost .simpleimg .more{
  padding: 20px;
  transition: all 0.4s;
}
.latestpost .simpleimg .more a:hover{
  background-color: rgba(87, 203, 204, 0.7);
}
.latestpost .simpleimg .more a{
  color: #ffffff;
  border: 1px solid #4e595f;
  text-transform: capitalize;
  padding: 10px 30px;
  transition: all 0.4s;
  display: inline-block;
}
/* row3 */
.latestpost .allpost{
  text-align: center;
  margin-top: 50px;
}
.latestpost .allpost a{
  padding: 10px 35px;
  display: inline-block;
  color: #ffffff;
  background-color: rgba(87, 203, 204, 0.7);
}
.latestpost .allpost a:hover{
  background-color: rgba(28, 144, 146, 0.7);
}

/* SECTION GET IN  TOUCH */
.getintouch h3,p,span{
  margin:0;
  padding:0;
}
.getintouch{
  padding: 50px 0px;
  background: #292F36;
}
.getintouch .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.getintouch .touchhead{
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}
.getintouch .touchhead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
.getintouch .touchhead span{
  color: #57cbcc;
  margin-left: 10px;
}
.touchhead .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 10px;
}
.touchhead .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-top: -4px;
  margin-left: -25px;
}
/* row2 */
.getintouch .col{
  width: 50%;
}
.getintouch .contact h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #afbac4;
}
.getintouch .contact p{
  margin-bottom: 25px;
  color: #737f8a;
  font-size: 16px;
  line-height: 1.4;
}
.getintouch .contact ul li{
  color: #737f8a;
  font-size: 14px;
  line-height: 3;
}
.getintouch .contact ul li i{
  margin-right: 10px;
}

/* row3 */
::placeholder{
  color: #ffffff;
}
.getintouch .contactform input{
  border: 1px solid rgba(236, 239, 241, 0.07);
  height: 45px;
  width: 100%;
  background-color: transparent;
  padding: 10px 10px;
  margin-bottom: 20px;
  color: #ffffff;
}
.getintouch .contactform input:hover{
  border-color: #57cbcc;
}
.getintouch .contactform .message{
  height: 250px;
  width:600px;
  margin-bottom: 20px;
  border: 1px solid rgba(236, 239, 241, 0.07);
  background-color: transparent;
  padding: 10px 10px;
}
.getintouch .contactform .message:hover{
  border-color: #57cbcc;
}

.getintouch .contactform .submit{
  text-align: center;
  background-color: #57cbcc;
}



/* SECTION WRONG */
.wrong{
  padding:100px 0px;
  background-color: rgb(229, 227, 223);
  color: #616161;
}
.container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.wrong .container .row{
  text-align: center;
}

/* FOOTER */
footer{
  padding: 50px;
  background: #292F36;
}
footer .container{
  text-align: center;
}
footer .container .social{
  margin-bottom: 35px;
}
footer .container .social ul li{
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}
footer  .social .inter a{
  background-color: #26292e;
  border: 1px solid transparent;
  display: block;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer  .social .inter a i{
  color: #55606a;
  display: inline-block;
  font-size: 32px;
  line-height: 70px;
  margin: 0;
  opacity: 0.3;

}
footer  .social .cover a{
  background-color: #57cbcc;
  border: 1px solid transparent;
  display: block;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer  .social .cover a i{
  color: #fff;
  display: inline-block;
  font-size: 32px;
  line-height: 70px;
  margin: 0;
  opacity: 1;
}
footer  .social .cover{
  position: absolute;
  top:0;
  transform: rotateY(180deg);
  opacity: 0;
  transition: all 0.5s;
}
footer  .social li:hover .cover{
  transform: rotateY(0deg);
  opacity:1;
}
footer  .social li:hover .inter{
  visibility: hidden;
}
/* row3 */
footer .footnote{
  margin-top: 20px;
}
footer .footnote p,a{
  color: #fff;
}