@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans&display=swap');
/*RESET CSS*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*HEADER*/

.header{
    display: initial;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/hero-area.jpg);
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #00000099;
  color: #ffffff;
}

.header-main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main .center h2 {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  margin: 25px 0;
}

.header-main .center p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.header-main .center .explore {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 14px 40px;
  color: #ffffff;
  margin-top: 40px;
  transition: all 0.4s;
}

.header-main .center .explore:hover {
  background-color: #57cbcc;
}

.header-main .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #57cbcc;
}

/*NAVIGATION*/

.nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1d2024;
  position: sticky;
  top: 0;
}
.nav .nav-menu a{
  font-size: 16px;
  color: #737f8a;
  font-family: 'Anaheim', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s;
}
.nav .nav-menu a:hover{
  color:#57cbcc;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin-right: 20px;
}

/* SECTION */ /* SECTION */
.about{
  height: 100vh;
  border: 3px solid black;
  padding: 100px 0px;
  background-color: #353b43;
}
/* row1 */

.container{
  text-align: center;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container .row .col .about-us{
  padding-bottom: 60px;
}
.container .row .col .about-us .border{
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    width: 30%;
    margin: 15px auto;
    position: relative;
}
.container .row .col .about-us .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  top: -4px;
}
.container .row .col .about-us h2{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-family: 'Quattrocento Sans', sans-serif;
}
.container .row .col .about-us h2 span{
  color: #57cbcc;
  margin-left: 10px;
}

/* row2 */
.icon{
  padding: 50px 0px;
}
/* SHORCUT */
.d_flex{
  display:flex;
}
._trans{
  transform: scalex(-1);
}
._c{
  margin: 0px 15px;
  color: #737f8a;
  background: #242930;
  padding: 30px;
  margin-bottom: 20px;
}
._hcolor{
  color: #afbac4;
  font-size: 24px;
  margin: 20px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
}
._psize{
  font-size: 14px;
  margin: 0px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
}
/* SHORTCUT */
