@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans&display=swap');
/*RESET CSS*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*HEADER*/

.header{
    display: initial;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/hero-area.jpg);
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #00000099;
  color: #ffffff;
}

.header-main .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main .center h2 {
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  margin: 25px 0;
}

.header-main .center p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
}

.header-main .center .explore {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 14px 40px;
  color: #ffffff;
  margin-top: 40px;
  transition: all 0.4s;
}

.header-main .center .explore:hover {
  background-color: #57cbcc;
}

.header-main .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #57cbcc;
}

/*NAVIGATION*/

.nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1d2024;
  position: sticky;
  top: 0;
}
.nav .nav-menu a{
  font-size: 16px;
  color: #737f8a;
  font-family: 'Anaheim', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s;
}
.nav .nav-menu a:hover{
  color:#57cbcc;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin-right: 20px;
}

/* SECTION */ /* SECTION */
.about{
  /* height: 100vh; */
  padding: 100px 0px;
  background-color: #353b43;
}
/* row1 */

.container.first{
  text-align: center;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container .row .col .about-us{
  padding-bottom: 60px;
}
.container .row .col .about-us .border{
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    width: 30%;
    margin: 15px auto;
    position: relative;
}
.container .row .col .about-us .border::before{
  content: '';
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  top: -4px;
}
.container .row .col .about-us h2{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-family: 'Quattrocento Sans', sans-serif;
}
.container .row .col .about-us h2 span{
  color: #57cbcc;
  margin-left: 10px;
}

/* row2 */
._pad{
  padding: 50px 0px;
  transition: all 0.3s;
}
/* SHORCUT */
.d_flex{
  display:flex;
}
._alitcenter{
  align-items: center;
}
._trans{
  transform: scalex(-1);
}
._c{
  margin: 0px 15px;
  color: #737f8a;
  background: #242930;
  padding: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
._c:hover{
  border-bottom: 2px solid #57cbcc;
}
._c:hover .icon{
  padding-top: 40px;
  padding-bottom: 60px;
}
._hcolor{
  color: #afbac4;
  font-size: 24px;
  margin: 20px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
}
._psize{
  font-size: 14px;
  margin: 0px 0px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
}

/* SHORTCUT */



/* SECTION WEREDIGITAL */
.weredigital{
  background-color: #242930;
  color: #737f8a;
}
.weredigital .col{
  width: 50%;
}
.weredigital .row .col .img img{
  max-width: 100%;
}
.weredigital .row .col .content{
  padding: 35px 55px;
}
.weredigital .row .col .content h2,h4,p{
  font-family: "Quattrocento Sans", sans-serif;
}
.weredigital .row .col .content h2{
  color: #afbac4;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.weredigital .row .col .content p{
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1.4;
}
.weredigital .row .col .content h4{
  color: #afbac4;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.1;
}
.weredigital .row .col .content i{
  padding-right: 15px;
  color:#57cbcc;
}
.contentleftbottom,.contentrightbottom{
  margin-top: 30px;
}
.four{
  height: 100vh;
}

/* SECTION GREATDESIGN */
.greatdesign{
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0px;
}
.greatdesign .row .col .greatdesigncontent{
  text-align:center;
}
.greatdesign .row .col .greatdesigncontent h2{
  margin: 20px 0px 10px;
  font-size: 26px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  color: #444;
}
.greatdesign .row .col .greatdesigncontent p{
  /* margin: 0px 0px 10px; */
  font-size: 14px;
  font-family: "Quattrocento Sans", sans-serif;
  color: #666;
  width: 30%;
  margin: auto;
  line-height: 1.4;
}
.greatdesign .row .col .greatdesigncontent a {
    color: #fff;
    background-color: #57cbcc;
    padding: 10px 35px;
    margin-top: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    font-family: 'Anaheim', sans-serif;
    letter-spacing: 1px;
}


/* SECTION OUR SERVICES */

/* row1 */
.ourservices {
  padding: 100px 0px;
  background-color: #353b43;
}
.ourservices .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.ourservices .ourserviceshead{
  text-align: center;
  margin-bottom: 60px;
}
.ourservices .ourserviceshead h2{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ourservices .ourserviceshead h2 span{
  color: #57cbcc;
  padding-left: 10px;
}
.ourservices .ourserviceshead .border{
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  width: 30%;
  margin: 15px auto 0;
  position: relative;
}
.ourservices .ourserviceshead .border::before{
  content: " ";
  height: 6px;
  width: 50px;
  background-color: #57cbcc;
  position: absolute;
  margin-left: -20px;
  margin-top: -4px;
}

/* row2 */
.ourservices .container .col{
  padding-right: 15px;
    padding-left: 15px;
}
.ourservices .container .col .insidecontent{
  padding: 60px 20px;
  margin-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}
.ourservices .container .col .insidecontent h3{
  text-align: center;
  color: #afbac4;
}
.ourservices .container .col .insidecontent .icon{
  text-align: center;
  color: #737f8a;
}
.ourservices .container .col .insidecontent .icon i{
  font-size: 50px;
}
.ourservices .container .col .insidecontent p{
color: #737f8a;
}
.ourservices .container .col .insidecontent .iconcontent{
  text-align: center;
}

/* SECTION OURSKILLS */

/* row1 */
.ourskills{
  padding: 100px 0px;
  background: #292F36;
}
/* .ourskills .ourskillshead{
  text-align: center;
} */
.ourskills .container{
  max-width: 1200px;
  margin: 0px auto 0px;
}
.ourskills .container .ourskillshead{
  text-align: center;
}
.ourskills .container .row .col{
  width: 50%;
  padding: 0px 15px;
}
.ourskills .container .row.d_flex .col img{
  max-width: 100%;
}

/* row2 */
.ourskills .container .row.d_flex .col .progress{
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
}
.ourskills .container .row.d_flex .col .progress .busdev{
    height: 100%;
    width: 90%;
    background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .ana{
  height: 100%;
  width: 70%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .desi{
  height: 100%;
  width: 85%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .iosdev{
  height: 100%;
  width: 60%;
  background-color: #57cbcc;
}
.ourskills .container .row.d_flex .col .progress .anddev{
  height: 100%;
  width: 95%;
  background-color: #57cbcc;
}
    